body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.dual-bg {
  background-image: url("elias.jpg") ; /* Add your background images */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

